@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box; 
}

.all{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f7fcfd;
  font-family: 'Roboto', sans-serif;
}
 
.Cart {
  width: 850px;
  height: 600px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.descripcion{
  margin: auto;
  width: 70%;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  font-weight: 400;
}

th, td {
  padding: 15px;
}
th {
  text-align: left;
}