<app-header></app-header>
<div class="all">
  <div class="Cart">
    <div class="title">
      Carrito
    </div>
      <table >
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let item of CartItem | keyvalue">
          <th>{{item.key}}</th>
          <th>{{item.value.cantidad}}</th>
          <th>{{Totalprice(item.key)}}</th>
          <th><button (click)="RemoveItem(item.key)">Eliminar</button></th>
        </tr>
      </table>
      <div class="Compra">
        <button>Comprar</button>
      </div> 
  </div>
</div>

<a class="cta" href="#"><button routerLink="/">Regresar</button></a>


