<body>
	<section class="jumbotron text-center">
		<div class="container">
			<h1>Empleados.</h1>
			<p id="demo"><p>
		</div>
	</section>
	<div class="alert alert-primary" role="alert">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Rut</th>
					<th>Puesto</th>
					<th>Fecha de Empleo</th>
					<th>Salario</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let dataItem of Personal">
					<td>{{dataItem.nombre}}</td>
					<td>{{dataItem.rut}}</td>
					<td>{{dataItem.puesto}}</td>
					<td>{{dataItem.fecha_empleo}}</td>
					<td>{{dataItem.salario}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
