<h1>Categorias de Productos</h1>
  <div class="main">
    <section class="cards">
      <div class="card" *ngFor="let search of searchJson">
        <div class="card_image_container">
          <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"/>
        </div>
        <div class="card__content">
          <p class="card__title text--medium">
            {{search.nombre}}
          </p>
          <div class="card__info">
            <p class="text--medium">{{search.stock}}</p>
            <form action="">
              <label for="quantity">Cantidad:</label>
              <input type="number" id="quantity" name="quantity" min="1">
              <input type="submit" value="Submit">
            </form>
            <button class="card__price text--medium" (click)="Data(search)">{{search.precio}}</button>
          </div>
        </div>
      </div>
    </section>
  </div>